{% extends "base.html" %}

{% block content %}
<h2>All Students</h2>
<ul>
{% for student in students %}
{# Each "student" is a student model objext. #}
	<li><a href="{{ student.id }}">{{ student.name }}</a> | {{ student.pid }}</li>
{% endfor %}
</ul>

<div class="pagination">
	<span class="step-links">
		{% if students.has_previous %}
			<a href="?page={{ students.previous_page_number }}">previous</a>
		{% endif %}

		<span class="current">
			Page {{ student.number }} of {{ students.paginator.num_pages }}.
		</span>

		{% if students.has_next %}
			<a href="?page={{ students.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>

{% endblock %}